<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>ToDo List</title>
</head>
<body>
    <form action="sign-in" method="post">
        <label for="username">username:</label>
        <input name="username" id="username" type="text" minlength="1" spellcheck="true" required>

        <label for="password">password:</label>
        <input name="password" id="password" type="password" minlength="1" spellcheck="true" required>

        <button type="submit">sign in</button>
    </form>
</body>
</html>