<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>ToDo List</title>
</head>
<body>
<form th:action="@{../{todoId}(todoId=${model.id})}" method="post">
    <label for="create-todo-form-title">title:</label>
    <input name="title" id="create-todo-form-title" type="text" minlength="1" spellcheck="true" required th:value="${model.title}">

    <label for="create-todo-form-content">content:</label>
    <input name="content" id="create-todo-form-content" type="text" minlength="1" spellcheck="true" required th:value="${model.content}">

    <button type="submit">update</button>
</form>
</body>
</html>